<div class="row">
    <h1> Educación  </h1>
    <div class="col-lg-1"></div>
    <div class="col-lg-11">
        <ul>
            <li>
                <h1>Educacion nº1 </h1> -
                <h3>(years)</h3>
            </li>
            <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Quas, optio dolores laboriosam aut accusantium
                laborum modi ea repudiandae saepe voluptas dicta vero nesciunt corrupti consectetur earum a iure quidem
                eaque?</p>
        </ul>
        <ul>
            <li>
                <h1>Educacion nº2 </h1> -
                <h3>(years)</h3>
            </li>
            <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Quas, optio dolores laboriosam aut accusantium
                laborum modi ea repudiandae saepe voluptas dicta vero nesciunt corrupti consectetur earum a iure quidem
                eaque?</p>
        </ul>
        <ul>
            <li>
                <h1>Educacion nº3 </h1> -
                <h3>(years)</h3>
            </li>
            <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Quas, optio dolores laboriosam aut accusantium
                laborum modi ea repudiandae saepe voluptas dicta vero nesciunt corrupti consectetur earum a iure quidem
                eaque?</p>
        </ul>
    </div>
</div>
