<div class="row">
    <div class="container">
        <div class="logo">
            <img src="../../../assets/APLogo-20-20.png" id="logoAP">
        </div>
        <div class="redes">

            <a href="https://github.com/novmart"><img src="../../../assets/github.png" id="github"> </a>
            <a href="https://github.com/novmart"><img src="../../../assets/icons8-linkedin-circled-64.png"
                    id="linkedin"> </a>
   
                    <button type="button" class="btn btn-dark">Login

                    </button>

        </div>
    </div>
</div>

