<div class="row">
    <h1>Hard Skills</h1>
    <div class="text-center col-sm-4 col-md-4 col-lg-4">
        <circle-progress [backgroundPadding]="7" [percent]="85" [radius]="60" [space]="-2" [title]="'HTML'"
            [outerStrokeWidth]="2" [outerStrokeColor]="'#808080'" [innerStrokeColor]="'#e7e8ea'" [animation]="true"
            [animationDuration]="600"
            [showUnits]="false"></circle-progress>
    </div>
    <div class="text-center col-sm-4 col-md-4 col-lg-4">
        <circle-progress [backgroundPadding]="7" [percent]="85" [radius]="60" [space]="-2" [title]="'CSS'"
            [outerStrokeWidth]="2" [outerStrokeColor]="'#808080'" [innerStrokeColor]="'#e7e8ea'" [animation]="true"
            [animationDuration]="600"
            [showUnits]="false"></circle-progress>
    </div>
    <div class="text-center col-sm-4 col-md-4 col-lg-4">
        <circle-progress [backgroundPadding]="7" [percent]="85" [radius]="60" [space]="-2" [title]="'JAVA'"
            [outerStrokeWidth]="2" [outerStrokeColor]="'#808080'" [innerStrokeColor]="'#e7e8ea'" [animation]="true"
            [animationDuration]="600"
            [showUnits]="false"></circle-progress>
    </div>
    <h1>Soft Skills</h1>
    <div class="text-center col-sm-4 col-md-4 col-lg-4">
        <circle-progress [backgroundPadding]="7" [percent]="85" [radius]="60" [space]="-2" [title]="'GIT HUB'"
            [outerStrokeWidth]="2" [outerStrokeColor]="'#808080'" [innerStrokeColor]="'#e7e8ea'" [animation]="true"
            [animationDuration]="600"
            [showUnits]="false"></circle-progress>
    </div>
    <div class="text-center col-sm-4 col-md-4 col-lg-4">
        <circle-progress [backgroundPadding]="7" [percent]="85" [radius]="60" [space]="-2" [title]="'TEAM WORK'"
            [outerStrokeWidth]="2" [outerStrokeColor]="'#808080'" [innerStrokeColor]="'#e7e8ea'" [animation]="true"
            [animationDuration]="600"
            [showUnits]="false"></circle-progress>
    </div>
    
    <div class="text-center col-sm-4 col-md-4 col-lg-4">
        <circle-progress [backgroundPadding]="7" [percent]="85" [radius]="60" [space]="-2" [title]="'ENGLISH'"
            [outerStrokeWidth]="2" [outerStrokeColor]="'#808080'" [innerStrokeColor]="'#e7e8ea'" [animation]="true"
            [animationDuration]="600"
            [showUnits]="false"></circle-progress>
    </div>
</div>