/* .row{
    padding: 10px;
    /* margin-left: 20px; */
/* margin-right: calc(-.5 * var(--bs-gutter-x)); */

/* }

div{
    background:linear-gradient(to top, rgb(4, 0, 7), rgb(9, 0, 17));
    color:#a396d5; 
    text-align:center;
    max-width: max-content;
    margin: 10px;

} */
/*Estilo de la foto de perfil*/
/* #fotoperfil{
    width:min-content;
    border-radius: 50%;
    border-top: 5px;
    position:-webkit-sticky;
    box-shadow: 3px,3px,3px rgb(182, 155, 203);
} */

/* @media (max-width:575px){
    #fotoperfil{
        width:min-content;
        border-radius: 50%;
        border-top: 5px;
        position:-webkit-sticky;
        box-shadow: 3px,3px,3px rgb(182, 155, 203);

    }
} */


/*etiqueta nombre*/

/* #nombre{
    font-weight: bold;
    margin-top: 40px;
    
} */

.row {
    padding: 10px;

}

.btn {
    font-size: 25px;
}

div {
    margin-top: 10px;
    background-color: #090226;
    text-align: center;
    color: azure;
    font-family: 'Open Sans', 'Helvetica Neue', sans-serif;

}

h1 {

    color: rgb(250, 22, 105);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

    text-align: center; 

}

/*Estilo de la foto de perfil*/
@media (min-width: 576px) {
    #fotodeperfil {
        position: absolute;
        width: 15%;
        border-radius: 50%;
        box-shadow: 3px 3px 3px grey;
        left: 3%;
        top: 550px;
    }
}

@media (max-width: 575px) {
    #fotodeperfil {
        position: absolute;
        width: 30%;
        border-radius: 100%;
        box-shadow: 3px 3px 3px grey;
        left: 33%;
        top: 950px;
    }
}

/*etiqueta nombre*/
#nombre {
    font-weight: lighter;
    margin-top: 30%;
}