.row{
    padding: 20px;
}
div{
    background-color:rgba(181, 157, 238, 0.752);
    text-align: center;
    
}
/* fotdeperfil */

@media(min-width: 576px){
    #fotoperfil{
        position: absolute;
        width: 15%;
        border-radius: 50%;
        box-shadow: 2px 2px rgb(40, 39, 39);
        left: 2%;
        top:  1325px; 
    }


}

@media(min-width: 700px){
    #fotoperfil{
        position: absolute;
        width: 15%;
        border-radius: 50%;
        box-shadow: 2px 2px rgb(40, 39, 39);
        left: 2%;
        top:  auto; 
    }
    
}
@media(max-width: 576px){
    #fotoperfil{
        position: absolute;
        width: 25%;
        border-radius: 50%;
        box-shadow: 2px 2px rgb(40, 39, 39);
        left: 33%;
        top: auto;
    }
    
}
/* etiqueta de nombre */
#nombre{
    font-weight: bold;
    margin-top: 30%;
}
