<div class="row">
    <h1>PROYECTOS</h1>
    <div class="col-lg-2">
      <button1 type="button" class="btn btn-outline-light" routerLink="/nuevapro" *ngIf="isLogged"><i class="bi bi-plus"></i></button1>
    </div>
    <div class="col lg 1"></div>
    <div class="col-lg-11">
      <table class="table">
        <tbody>
          <tr *ngFor="let Proyectos of pro">
            <td>
              <h3>{{ Proyectos.nombrePro }}</h3>
            </td>
            <td>
              <h5>{{ Proyectos.descripcionPro }}</h5>
            </td>
            <td>
              <h5>{{ Proyectos.fechaPro }}</h5>
            </td>
  
            <td *ngIf="isLogged">
              <button
                class="btn btn-outline-light"
                routerLink="/editpro/{{ Proyectos.id }}" title="Editar">
                <i class="bi bi-pen"></i>
              </button>
            </td>
            <td *ngIf="isLogged">
              <button
                class="btn btn-outline-danger"
                (click)="delete(Proyectos.id)"
                title="Eliminar"
              >
                <i class="bi bi-recycle"></i>
              </button>
            </td>
            <td>
              <div class="col-xs-12 col-sm-12 col-md-12 col-lg-4 titles">
                <button type="button" class="btn btn-outline-info">
                  <a href="{{Proyectos.linkPro}}" target="_blank"
                    ><i class="bi bi-link"s></i></a>
                </button>
  
              </div>
            </td>
           
          </tr>
        </tbody>
      </table>
    </div>
 