.row{
    background-color:#090226;;
    padding: 20px;
}
.contenedor{
    width: auto;

}
h1{
    color: rgb(250, 22, 105);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
 
   text-align: left;
   
}
h3{
    color: azure;
    text-align: left;
}
table{
    color: aliceblue;
    margin-top: 10px;
  
    text-align: right;
   
}

button1{
    font-size: 20px;
}
.img-proyecto{
    box-shadow: 10px 10px 30px #000000;
}










