<div class="row">
    <h1>Proyectos </h1>
    <div class="container">
        <div class="col-sm-12 col-md-7 col-lg-7 parte1">
            <h3>Task List</h3>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Error delectus expedita commodi illum voluptas
                rerum quidem eligendi, dolorem quo autem porro aliquid consequuntur sint illo earum voluptatem
                laboriosam nostrum tempora.</p>
        </div>
        <div class="col-sm-12 col-md-3 col-lg-3 offset-md-1 offset-lg-1 parte2">
     <img src="../../../assets/pexels-pixabay-270360.jpg" class="img-fluid img-proyecto" alt="">
        </div>
    </div>
</div>